<section class="contacts">
    <div class="container">
        <a class="contacts-logo link" href="" aria-label="Логотип школы">
            Hell
            <svg class="logo-fire" width="22" height="30">
                <use href="./img/sprite.svg#fire"></use>
            </svg>
            EN
            <span class="logo"><span class="logo-word">Адский</span> английский</span>
        </a>
        <div class="contacts-wrapper">
            <a class="contacts-item item-1 link" href="tel:+380000000000">
                <svg class="contacts-svg" width="30px" height="29px">
                    <use href="./img/sprite.svg#phone"></use>
                </svg> +38 (000) 000 00 00
            </a>
            <a class="contacts-item item-2 link" href=""></a>

        </div>

    </div>
</section>