<section class="features">
  <div class="container">
    <ul class="features-list">
      <li class="features-item">
        <svg class="features-icon" width="33" height="40">
          <use href="./images/sprite_min.svg#man"></use>
        </svg>
        <p class="features-text">Адаптированная авторская программа ВНО</p>
      </li>
      <li class="features-item">
        <svg class="features-icon" width="41" height="40">
          <use href="./images/sprite_min.svg#education"></use>
        </svg>
        <p class="features-text">
          Современные <br />
          методики обучения
        </p>
      </li>
      <li class="features-item">
        <svg class="features-icon" width="35" height="40">
          <use href="./images/sprite_min.svg#finance"></use>
        </svg>
        <p class="features-text">Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</section>
