<!--program-->
<section class="program">
  <div class="container">
    <h2 class="program_title">Наша программа</h2>
    <div class="program_first_part">
      <div>
        <h3 class="program_subtitle">1 семестр</h3>
        <div class="semester">
          <div class="semester_discriprion">
            <p class="program_name">Grammar</p>
            <span class="program_discriprion">
              Nouns & Articles<br />
              Adjectives & Adverb
            </span>
          </div>
          <div class="semester_discriprion">
            <p class="program_name">Vocabulary</p>
            <span class="program_discriprion">
              Family & Relations<br />
              People & Society
            </span>
          </div>
        </div>
      </div>
      <div>
        <h3 class="program_subtitle">2 семестр</h3>
        <div class="semester">
          <div class="semester_discriprion">
            <p class="program_name">Grammar</p>
            <span class="program_discriprion">
              Pronouns<br />
              Active Voice<br />
              Passive Voice
            </span>
          </div>
          <div class="semester_discriprion">
            <p class="program_name">Vocabulary</p>
            <span class="program_discriprion">
              Home<br />
              School<br />
              Work
            </span>
          </div>
        </div>
      </div>
      <div>
        <h3 class="program_subtitle">3 семестр</h3>
        <div class="semester">
          <div class="semester_discriprion">
            <p class="program_name">Grammar</p>
            <span class="program_discriprion">
              Modal verbs<br />
              Infinitive<br />
              Gerund<br />
              Participle: 1, 2
            </span>
          </div>
          <div class="semester_discriprion">
            <p class="program_name">Vocabulary</p>
            <span class="program_discriprion">
              Travel & Tourism<br />
              Culture & Free Time<br />
              Sport
            </span>
          </div>
          <div class="semester_discriprion">
            <p class="program_name">Writing</p>
            <span class="program_discriprion"> Informal Letter </span>
          </div>
        </div>
      </div>
      <div>
        <h3 class="program_subtitle">4 семестр</h3>
        <div class="semester">
          <div class="semester_discriprion">
            <p class="program_name">Grammar</p>
            <span class="program_discriprion">
              Clauses: Conditional and Wishes<br />
              Direct / Reported speech Preposition<br />
              Conjunction<br />
              Numeral
            </span>
          </div>
          <div class="semester_discriprion">
            <p class="program_name">Vocabulary</p>
            <span class="program_discriprion">
              Healthy Living<br />
              Nature & Environment<br />
              Money
            </span>
          </div>
          <div class="semester_discriprion">
            <p class="program_name">Writing</p>
            <span class="program_discriprion"> Formal Letter </span>
          </div>
        </div>
      </div>
      <div>
        <h3 class="program_subtitle">5 семестр</h3>
        <div class="semester">
          <div class="semester_discriprion five">
            <p class="program_small_line"></p>
            <p class="program_name">Grammar</p>
            <span class="program_discriprion">
              Revision<br />
              Tests
            </span>
          </div>
        </div>
      </div>
      <span class="line"></span>
      <picture>
        <source
          srcset="
            ./images/program/program.jpg    1x,
            ./images/program/program@2x.jpg 2x
          "
          media="(min-width: 1344px)"
        />
        <source
          srcset="
            ./images/program/program-tablet.jpg    1x,
            ./images/program/program-tablet@2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/program/program-mob.jpg    1x,
            ./images/program/program-mob@2x.jpg 2x
          "
          media="(min-width:320px)"
        />

        <img
          class="program_img"
          src="./images/program/program.jpg"
          alt="студенты и преподаватель в классе"
        />
      </picture>
    </div>
    <h2 class="whyWe_title">Почему нас выбирают</h2>
    <div class="whyWe">
      <div class="whyWe_item">
        <p class="whyWe_time">01</p>
        <span class="whyWe_discriprion"> Обучение в малых командах </span>
      </div>
      <div class="whyWe_item">
        <p class="whyWe_time">02</p>
        <span class="whyWe_discriprion"> Визуализированные конспекты </span>
      </div>

      <div class="whyWe_item">
        <p class="whyWe_time">03</p>
        <span class="whyWe_discriprion">
          Каждое занятие имеет цель и конкретный результат
        </span>
      </div>

      <div class="whyWe_item">
        <p class="whyWe_time">04</p>
        <span class="whyWe_discriprion">
          Ревльные результаты преподавателя
        </span>
      </div>

      <div class="whyWe_item">
        <p class="whyWe_time">05</p>
        <span class="whyWe_discriprion">
          Прогамма курса соответствует требованиям МОН Украины
        </span>
      </div>
      <div class="whyWe_item">
        <p class="whyWe_time">06</p>
        <span class="whyWe_discriprion"> Набор команд по уровням знаний </span>
      </div>
    </div>
  </div>
</section>
<!--end program-->
