<header>
  <div class="container">
    <nav class="main-nav">
      <a href="" class="header-logo">
        Hell
        <svg class="logo-fire">
          <use href="./images/sprite_min.svg#fire"></use>
        </svg>
        EN

        <span class="logo">Адский</span>
        <span class="logo-text-word"> английский</span></a
      >
      <button type="button" class="button-nav-tablet">
        Консультация по телефону
      </button>
      <button type="button" class="button-menu" data-open-modal>
        <svg width="25" height="25">
          <use class="icon-menu" href="./images/sprite_min.svg#menu"></use>
        </svg>
      </button>

      <div class="menu-container is-hidden" data-backdrop>
        <div class="div-menu">
          <a href="" class="header-logo-nav">
            Hell
            <svg class="logo-fire" width="14" height="19">
              <use href="./images/sprite_min.svg#fire"></use>
            </svg>
            EN

            <p class="logo-nav">
              <span class="logo-nav-text">Адский</span
              ><span class="logo-nav-text-word"> английский</span>
            </p></a
          >
          <button type="button" class="button-cross" data-close-modal>
            <svg width="25" height="25">
              <use
                class="icon-cross"
                href="./images/sprite_min.svg#cross"
              ></use>
            </svg>
          </button>
        </div>
        <ul class="site-nav">
          <li class="site-nav-item">
            <a href="" class="site-nav-link">Программа обучения</a>
          </li>
          <li class="site-nav-item">
            <a href="" class="site-nav-link-current">О нас</a>
          </li>
          <li class="site-nav-item">
            <a href="" class="site-nav-link">Варианты обучения</a>
          </li>
          <li class="site-nav-item">
            <a href="" class="site-nav-link">Контакты</a>
          </li>
        </ul>
        <button type="button" class="button-nav">
          Консультация по телефону
        </button>
      </div>
    </nav>
  </div>
</header>
