<section class="teacher_container">
  <h2 class="teacher-title">Преподаватель</h2>
  <div class="teacher-description-container">
    <picture>
      <source
        srcset="
          ./images/teacher/teachermedium1.jpg 1x,
          ./images/teacher/teachermedium2.jpg 2x
        "
        media="(min-width:320px)"
      />

      <source
        srcset="
          ./images/teacher/teachermedium1.jpg 1x,
          ./images/teacher/teachermedium2.jpg 2x
        "
        media="(min-width:768px)"
      />

      <source
        srcset="
          ./images/teacher/teacherbig1.jpg 1x,
          ./images/teacher/teacherbig2.jpg 2x
        "
        media="(min-width:1344px)"
      />
      <img
        class="teacher-img"
        src="./images/teacher/teacherbig1.jpg"
        alt="учительница занятий"
      />
    </picture>
    <div class="teacher-title-container">
      <h3 class="teacher-name">Елена Морева</h3>
      <ul class="teacher-list-container list">
        <div class="teacher-svg-position">
          <li class="teacher-list-skilz">
            Опыт подготовки учеников к ВНО - 6 лет
          </li>
          <svg class="teacher-svg">
            <use href="./images/sprite_min.svg#check"></use>
          </svg>
        </div>
        <div class="teacher-svg-position">
          <li class="teacher-list-skilz">
            Собственный результат сдачи ВНО - 197 баллов 2 года подряд
          </li>
          <svg class="teacher-svg">
            <use href="./images/sprite_min.svg#check"></use>
          </svg>
        </div>
        <div class="teacher-svg-position">
          <li class="teacher-list-skilz">
            Сдала на отлично международный аналог ВНО - Кембриджский PET
            (Preliminary English Test)
          </li>
          <svg class="teacher-svg">
            <use href="./images/sprite_min.svg#check"></use>
          </svg>
        </div>
      </ul>
      <ul class="teacher-list-container-title list">
        <li class="teacher-list-title">
          Высшее образование получила в Институте международных отношений НАУ по
          специальности переводчик-аналитик.
        </li>
        <li class="teacher-list-title">
          В свободное время проходит курсы от лучших университетов мира по
          эффективному преподаванию и методикам написания сочинений.
        </li>
        <li class="teacher-list-title">
          В числе пройденных: English Grammar and Essay Writing (Berkeley),
          English Grammar&Style (The University of Queesland), How to Write an
          Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of
          Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </li>
      </ul>
      <a class="teacher-link" href=""
        >Cambrige English Entry Level Certificate</a
      >
    </div>
  </div>
</section>
